.header{
    width: 100%;
    position: absolute;
}

.headerContent{
    display: flex;
    height: 3rem;
    background-color: mintcream;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

.title{
    font-size: 1.5rem;
    margin: 0;
}